# Edit this file and copy to /etc/systemd/system/
# then manage 3proxy-eagle via
# systemctl stop/start/enable/disable 3proxy-eagle

# + WebUI at http://127.0.0.1:8161 by default
# + Flag -D disables adding IP addresses to the statistics database 
# (because addresses are not as informative as domains)

# You should get the 3proxy binary and replace the /path/to/3proxy with the actual path.

[Unit]
Description=3proxy wrapper with web UI
After=network.target

[Service]
Type=idle
User=someuser
ExecStart=/path/to/3proxy-eagle -i /path/to/3proxy,/path/to/first-instanse.cfg -i /path/to/3proxy,/path/to/second-instanse.cfg -w /path/to/3proxy-eagle/data -t YOUR_SERVICE_NAME -D
Restart=on-failure

[Install]
WantedBy=multi-user.target
