# regular 3proxy configuration
fakeresolve
flush
auth iponly

# strict required by 3proxy-eagle log lines
log
logformat " type=%N destination=%n to=%O from=%I"

# 3proxy-eagle black list format
{{vk.com,ok.ru,mail.ru,gosuslugi.ru,127.0.0.1}}

# regular 3proxy configuration again

## i2p sites
allow * * *.i2p
parent 1000 http 127.0.0.1 4444

## yggdrasil (127.0.0.1 1085 is second instanse)
allow * * 200::/7
parent 1000 socks5+ 127.0.0.1 1085
## ygg domains resolving by alfis
allow * * *.ygg
parent 1000 socks5+ 127.0.0.1 1085
## meshnames domains resolving by meshnamed
allow * * *.meshname
parent 1000 socks5+ 127.0.0.1 1085
allow * * *.meship
parent 1000 socks5+ 127.0.0.1 1085

## onion sites
allow * * *.onion
parent 1000 socks5+ 127.0.0.1 9050

## clearnet via another proxy or change to tor (9050)
allow *
parent 1000 socks5+ 127.0.0.1 1081

socks -olSO_REUSEADDR,SO_REUSEPORT -ocTCP_TIMESTAMPS,TCP_NODELAY -osTCP_NODELAY -46 -i<YOUR_EXTERNAL_IP> -p1080
proxy -olSO_REUSEADDR,SO_REUSEPORT -ocTCP_TIMESTAMPS,TCP_NODELAY -osTCP_NODELAY -46 -a1 -i<YOUR_EXTERNAL_IP> -p3128
