auth iponly
# allow only Yggdrasil network subnet by this instanse
# otherwise all ygg/meshname/meship domains with
# non-yggdrasil addresses goes bypass any rules
# and potentially can deanonimaze outproxy machine
allow * * 200::/7
deny *
socks -olSO_REUSEADDR,SO_REUSEPORT -ocTCP_TIMESTAMPS,TCP_NODELAY -osTCP_NODELAY -64 -i127.0.0.1 -p1085
